body {
  margin: 0;
  font-family: "Segoe UI";
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin: 15px 0;
  text-decoration: none;
}

.main {
  flex: 1;
  display: flex;
}

.list {
  width: 350px;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.complaint-card {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: white;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.complaint-card img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.high { background: red; }
.medium { background: orange; }
.low { background: green; }

#map {
  flex: 1;
}
